<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 *
 * @category   Customer
 * @package    Clockworkgeek_Rememberme
 * @author     Daniel Deady <daniel@clockworkgeek.com>
 * @copyright  Copyright (c) 2010, Daniel Deady
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
	<modules>
		<Clockworkgeek_Rememberme>
			<version>0.4.0</version>
		</Clockworkgeek_Rememberme>
	</modules>
	<global>
		<blocks>
		</blocks>
		<helpers>
		</helpers>
		<models>
			<clockworkgeek_rememberme>
				<class>Clockworkgeek_Rememberme_Model</class>
			</clockworkgeek_rememberme>
			<core>
				<rewrite>
					<cookie>Clockworkgeek_Rememberme_Model_Cookie</cookie>
				</rewrite>
			</core>
		</models>
	</global>
	<frontend>
		<layout>
			<updates>
				<rememberme>
					<file>rememberme.xml</file>
				</rememberme>
			</updates>
		</layout>
		<events>
			<customer_login>
				<observers>
					<clockworkgeek_rememberme>
						<class>clockworkgeek_rememberme/cookie</class>
						<method>setSessionRemembrance</method>
					</clockworkgeek_rememberme>
				</observers>
			</customer_login>
			<customer_logout>
				<observers>
					<clockworkgeek_rememberme>
						<class>clockworkgeek_rememberme/cookie</class>
						<method>unsetSessionRemembrance</method>
					</clockworkgeek_rememberme>
				</observers>
			</customer_logout>
		</events>
		<translate>
			<modules>
				<Clockworkgeek_Rememberme>
					<files>
						<default>Clockworkgeek_Rememberme.csv</default>
					</files>
				</Clockworkgeek_Rememberme>
			</modules>
		</translate>
	</frontend>
</config>
